/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/private/*
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
npm-debug.log
yarn-error.log
/.idea
/.vscode
